<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      (click)="toggleSidebar()"
      class="pi pi-bars p-3 rounded-full transition duration-300 hover:bg-gray-200 active:bg-gray-300"
    ></button>
  </div>

  <div
    #overlayPanelTrigger
    class="p-toolbar-group-right cursor-pointer transition duration-300"
    (click)="toggleOverlay($event)"
  >
    <div class="flex items-center gap-x-4">
      <div class="flex items-center gap-x-2">
        <img width="50" height="50" src="assets/user-profile.png" alt="" />
        <div class="flex flex-col">
          <span class="font-medium text-gray-700">{{
            fullName | titlecase
          }}</span>
          <span class="font-medium text-sm text-gray-400">{{
            role | userRoleForDisplay
          }}</span>
        </div>
      </div>
      <span class="fa-solid fa-chevron-down"></span>
    </div>

    <p-overlayPanel 
      #overlayPanel 
      [dismissable]="true"
      [style]="{ 'width': triggerWidth + 'px' }"
    >
      <div class="flex flex-col gap-y-1">
        <button
          (click)="logout()"
          class="flex items-center gap-x-3 px-3 py-3 rounded-md transition duration-300 hover:bg-gray-100/80"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          <span>Logout</span>
        </button>
      </div>
    </p-overlayPanel>
  </div>
</p-toolbar>
