<div class="relative w-full">
  @if (loading(); as loading) {
  <div
    class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-5 z-10 backdrop-blur-sm transition-opacity duration-300"
    [class.opacity-0]="!loading"
    [class.opacity-100]="loading"
  >
    <i class="fa-solid fa-spinner animate-spin text-3xl text-primary"></i>
  </div>
  }
  <p-table
    #dt1
    [value]="data()"
    [globalFilterFields]="globalFilterFields()"
    (onFilter)="onFilter($event)"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-x-3">
          <ba-search-bar (search)="onSearch($event)" />
          <p-button [outlined]="true" (click)="clear(dt1)" label="Clear">
            <ng-template pTemplate="icon">
              <i class="fa-solid fa-filter-circle-xmark bg-pr"></i>
            </ng-template>
          </p-button>
        </div>
        <div class="flex items-center gap-x-2">
          @if (withCreate()) {
          <app-create-button (create)="create.emit()" title="scenario" />
          }
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        @for (col of columns(); track $index) {
        <th
          [style.minWidth]="'auto'"
          [pSortableColumn]="col.sortable ? col.sortField : undefined"
        >
          @if (col.filterTemplate) {
          <ng-template [ngTemplateOutlet]="getFilterTemplate(col)" />
          } @else {
          <div class="flex items-center">
            <span>
              {{ col.header }}
            </span>
            @if (col.sortable) {
            <p-sortIcon [field]="col.sortField"></p-sortIcon>
            } @if (col.filter; as filter) {
            <p-columnFilter
              [type]="filter.type"
              [field]="filter.field"
              display="menu"
            ></p-columnFilter>
            }
          </div>
          }
        </th>
        }
        <th [style.minWidth]="'auto'">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr [ngClass]="{ 'blur-sm': loading() && data().length != 0 }">
        @for (col of columns(); track $index) {
        <td>
          @switch (col.type) { @case ('custom') {
          <ng-template
            [ngTemplateOutlet]="getTableDataTemplate(col)"
            [ngTemplateOutletContext]="{ $implicit: row }"
          />
          } @case ('date') {
          {{ row[col.field] | date : "MMM d, y, h:mm a" }}
          } @case ('text') {
          {{ row[col.field] | titlecase }}
          } @case ('numeric') {
          {{ row[col.field] }}
          } }
        </td>
        }
        <td class="flex items-center text-gray-400">
          @if (withEdit()) {
          <button
            matTooltip="Edit"
            matTooltipPosition="above"
            matTooltipShowDelay="500"
            class="hover:text-primary-200 hover:bg-blue-50 p-2 rounded-md transition-all duration-150"
            (click)="edit.emit(row['id'])"
          >
            <i class="fa-solid fa-edit"></i>
          </button>
          } @if (withDelete()) {
          <button
            matTooltip="Delete"
            matTooltipPosition="above"
            matTooltipShowDelay="500"
            class="hover:text-red-400 hover:bg-red-50 p-2 rounded-md transition-all duration-150"
            (click)="delete.emit(row[key()])"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
          } @if (withViewDetail()) {
          <button
            matTooltip="View Details"
            matTooltipPosition="above"
            matTooltipShowDelay="500"
            class="hover:text-primary-200 hover:bg-teal-50 p-2 rounded-md transition-all duration-150"
            (click)="view.emit(row['id'])"
          >
            <i class="fa-solid fa-eye"></i>
          </button>
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      @if (!loading() && data().length === 0) {
      <tr>
        <td [attr.colspan]="columnsLength() + 1">
          <app-no-data-found />
        </td>
      </tr>
      }
    </ng-template>
  </p-table>

  <ba-paginator
    [total]="total()"
    (page)="page.emit($event)"
    [pageSizeOptions]="pageSizeOptions()"
    (pageSize)="pageSize.emit($event)"
  />
</div>
