.invoice {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
    /* The following changes are better and are reserved fot the invoice ui enhancements */
    border: none; 
    padding: 0;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    border: solid 2px black;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tfoot {
    font-weight: bold;
  }
  
  .table .total-label {
    text-align: right;
  }

  @media print {
    .invoice {
      box-shadow: none;
      border: none;
    }
  }