<div class="mx-auto max-w-screen-xl bg-transparent">
  <div class="bg-transparent">
    <div class="mx-auto max-w-screen-2xl px-2 py-1">
      <div class="mt-1 w-full">
        <p
          class="font-bold w-fit font-mono text-orange-500 text-md mb-5 border-b-2 opacity-75 border-b-blue-400"
        >
          Requests
        </p>
        <div
          class="flex w-full flex-col items-center justify-between space-y-2 sm:flex-row sm:space-y-0"
        >
          <div
            class="flex flex-col gap-y-2 lg:flex-row lg:items-center lg:gap-x-3"
          >
            <app-request-status-tab-filter (statusFilterChange)="onStatusChange($event)" />
            
            <ba-search-bar
              class="min-w-72"
              (search)="onSearch($event)"
            />
          </div>
          @if (showCreateButton()){
          <app-create-button (create)="openCreateRequestDialog()" />
          }

          <!-- View report button -->
          @if (canViewReport()) {
          <i
            (click)="exportData()"
            matTooltip="View report"
            matTooltipPosition="above"
            class="pi pi-window-maximize cursor-pointer text-gray-500 hover:text-gray-700"
          ></i>
          }
        </div>
      </div>

      <div class="mt-10 rounded-xl bg-white shadow-md">
        <table class="min-w-full border-spacing-y-2 border-spacing-x-2">
          <thead class="rounded-t-lg overflow-hidden p-2">
            <tr class="bg-gray-100 rounded-md">
              @for (col of columns(); track col.label){
              <th
                class="whitespace-normal py-3 font-medium text-gray-500 sm:px-3 relative first:rounded-l-md last:rounded-r-md"
              >
                <span>
                  {{ col.label }}
                  @if (col.isSortable && col.label === 'Date of Submission') {
                  @if (requestSortingOrder(); as order){
                  <i
                    class="pi text-sm font-bold ml-1 transition-opacity duration-300"
                    [ngClass]="{
                      'pi-sort-amount-down': order === 'desc',
                      'pi-sort-amount-up': order === 'asc',
                      'cursor-pointer hover:text-gray-800': col.isSortable
                    }"
                    [style.opacity]="requestSortingIconVisible() ? '1' : '0.5'"
                    (click)="onToggleSortingOrder(order)"
                    (transitionend)="requestSortingIconVisible.set(true)"
                  ></i>
                  } }
                </span>
              </th>
              }
            </tr>
          </thead>

          <tbody
            class="bg-white lg:border-gray-300"
            [ngClass]="{ 'blur-sm': _loading() && _requests().length != 0 }"
          >
            @for (request of _requests(); track request.requestNumber){
            <tr
              class="py-2 transition-all duration-150 border-l-4 border-transparent odd:bg-white even:bg-gray-50 hover:bg-gray-100"
              [ngClass]="{
                '!border-blue-400 shadow shadow-blue-300 !bg-blue-100 transition-all duration-1000':
                  beingEdited() === request.requestNumber
              }"
            >
              <td
                class="whitespace-no-wrap py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell"
                [ngClass]=""
              >
                {{ request.requestNumber }}
              </td>
              <td
                class="whitespace-no-wrap py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell"
              >
                {{ request.created_at | date : createdAtFormat() }}
              </td>
              <td
                class="whitespace-no-wrap py-4 text-sm font-normal text-gray-500 sm:px-3 lg:table-cell"
              >
                <app-request-status [status]="request.status" />
              </td>

              @if (loggedInUser()?.role != RoleEnum.ADMIN) {
              <td class="px-3">
                @if (loggedInUser(); as loggedUser) { @if (loggedUser.role !=
                RoleEnum.ADMIN) {
                <button
                  (click)="openUpdateRequestDialog(request.requestNumber)"
                  matTooltip="Edit the request"
                >
                  <i
                    class="pi pi-pen-to-square text-gray-500 hover:text-gray-700"
                  ></i>
                </button>
                } @if (loggedUser.role == RoleEnum.REQUESTER) {
                <button
                  (click)="cancelRequest(request.requestNumber)"
                  class="ml-3"
                  matTooltip="Cancel the request"
                >
                  <i
                    class="pi pi-times-circle text-gray-500 hover:text-gray-700"
                  ></i>
                </button>
                } @if (loggedUser.role == RoleEnum.WAREHOUSE_APPROVER) {
                <button
                  [disabled]="!(request.status | invoiceavailablity)"
                  class="ml-3"
                  (click)="download(request)"
                  [matTooltip]="
                    (request.status | invoiceavailablity)
                      ? 'Download the invoice'
                      : 'Invoice unavailable'
                  "
                >
                  <i
                    (click)="triggerDownload()"
                    class="pi text-gray-500 hover:text-gray-700"
                    [ngClass]="{
                                'pi-spinner-dotted animate-spin': isDownloading() && invoiceRequest()?.requestNumber === request?.requestNumber,
                                'pi-cloud-download': !isDownloading() || invoiceRequest()?.requestNumber !== request?.requestNumber,
                                'text-red-600 cursor-not-allowed': !(request.status | invoiceavailablity),
                              }"
                  ></i>
                </button>
                } }
              </td>
              }
            </tr>
            } @if (_requests().length === 0) { @if (_loading()) {
            <tr>
              <td [attr.colspan]="columnsLength()" class="p-0">
                <loading-dots />
              </td>
            </tr>
            } @else {
            <tr>
              <td [attr.colspan]="columnsLength()" class="text-center p-4">
                <app-no-data-found />
              </td>
            </tr>
            } }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Pagination using angular material -->
  <mat-paginator
    [color]="'primary'"
    [length]="_totalRecords()"
    [pageSize]="_rows()"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
    [pageSizeOptions]="pageSizeOptions()"
    aria-label="Select page"
  >
  </mat-paginator>

  <ng-template #invoiceElement>
    <app-the-invoice [request]="invoiceRequest()" />
  </ng-template>
</div>
