<div class="mx-auto max-w-screen-xl bg-transparent">
  <div class="bg-transparent">
    <div class="mx-auto max-w-screen-2xl px-2 py-9">
      <div class="mt-4 w-full">
        <p class="font-bold w-fit font-mono text-orange-500 text-md mb-5 border-b-2 opacity-75 border-b-blue-400">requests list</p>
        <div class="flex w-full flex-col items-center justify-between space-y-2 sm:flex-row sm:space-y-0">
          <app-search-bar (searchTerm)="searchValue.set($event)" />
          @if (showCreateButton()){
          <button 
            (click)="openCreateRequestDialog()"
            class='create-btn' 
            matTooltip="Create a new request" 
            matTooltipPosition="above"
          >
            <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-width="2" stroke="#fffffff"
                d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125"
                stroke-linejoin="round" stroke-linecap="round"></path>
              <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#fffffff"
                d="M17 15V18M17 21V18M17 18H14M17 18H20"></path>
            </svg>
            Create
          </button>
          }
        </div>
      </div>

      <div class="mt-6 overflow-auto rounded-xl py-3 bg-white px-6 shadow-md lg:px-4">
        <table class="min-w-full border-collapse border-spacing-y-2 border-spacing-x-2">
          <thead class="border-b lg:table-header-group">
            <tr class="">
              @for (col of columns(); track col.label){
              <td class="whitespace-normal py-4 font-medium text-gray-500 sm:px-3">
                <span>
                  {{col.label}}
                  <!-- @if (col.isSortable) {
                    <i class="pi pi-arrow-down text-xs font-bold ml-1"
                      [ngClass]="{'cursor-pointer hover:text-gray-800': col.isSortable}"></i>
                  } -->
                </span>
              </td>
              }
            </tr>
          </thead>

          <tbody class="bg-white lg:border-gray-300">
            @if (paginatedRequests(); as requests){
              @for (request of requests; track request.requestNumber){
                <tr class="py-2 transition-all duration-150 odd:bg-white even:bg-gray-50 hover:bg-gray-100">
                  <td class="whitespace-no-wrap py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell">
                    {{ request.requestNumber }}</td>
                  <td class="whitespace-no-wrap py-4 text-sm font-normal text-gray-600 sm:px-3 lg:table-cell">{{
                    request.created_at | date }}</td>
                  <td class="whitespace-no-wrap py-4 text-sm font-normal text-gray-500 sm:px-3 lg:table-cell">
                    <span class="whitespace-nowrap rounded-md px-2 py-1 font-bold text-xs"
                      [ngClass]="getStatusClass(request.status)">
                      {{ request.status | statusMapper }}
                    </span>
                  </td>
                  <td class="px-3">
                    @if (loggedInUser(); as loggedUser) {
                      @if (loggedUser.role != RoleEnum.ADMIN && loggedUser.role != RoleEnum.REQUESTER) {
                        <button (click)="openUpdateRequestDialog(request.requestNumber)" matTooltip="Edit the request">
                        <i class="pi pi-pen-to-square text-gray-500 hover:text-gray-700"></i>
                      </button>
                      }
                      @if (loggedUser.role == RoleEnum.REQUESTER) {
                        <button (click)="cancelRequest(request.requestNumber)" matTooltip="Cancel the request">
                          <i class="pi pi-times-circle text-gray-500 hover:text-gray-700"></i>
                        </button>
                        
                      }
                    }
                  </td>
                </tr>
              }
              @empty {
                <tr>
                  <td [attr.colspan]="columnsLength()" class="text-center p-4">
                    <span class="font-semibold text-lg text-red-500 p-4">No requests found.</span>
                  </td>
                </tr>
              }
            }
            @if (paginatedRequests() === null) {
              <tr>
                <td [attr.colspan]="columnsLength()" class="text-center p-4">
                  <span class="font-semibold text-lg text-red-500 p-3">No requests found.</span>
                </td>
              </tr>
            }
            @if (paginatedRequests() === undefined) {
              <tr>
                <td [attr.colspan]="columnsLength()" class="p-0">
                  <loading-dots></loading-dots>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <p-paginator [rows]="rows()" [totalRecords]="totalRecords()" [rowsPerPageOptions]="[10, 20, 30]"
          (onPageChange)="onPageChange($event)"></p-paginator>