<app-management-tables 
    [tableName]="TableNameEnum.SHIP_POINT"
    [items]="shipPoints$ | async"
    [tableProperties]="tableProperties"
    [columns]="tableColumns"

    (onCreate)="onCreate()"
    (onUpdate)="onUpdate($event)"
    (onDelete)="onDelete($event)"
/>


<!-- Update shipPoint Dialog -->
<p-dialog header="Update Ship Point" [(visible)]="displayUpdateDialog" [modal]="true" [style]="{width: '50vw'}">
    <div class="form-container">
      <form class="flex flex-col gap-y-2" (ngSubmit)="updateShipPoint()">
        <mat-form-field class="example-full-width">
          <mat-label>ShipPoint</mat-label>
          <input matInput [(ngModel)]="shipPoint.shipPoint" name="shipPoint">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Full address</mat-label>
          <textarea matInput [(ngModel)]="shipPoint.fullAddress" name="fullAddress"></textarea>
        </mat-form-field>
        <p><mat-checkbox [ariaChecked]="true" color="primary" [(ngModel)]="shipPoint.isTe" name="isTe">is TE</mat-checkbox></p>
        <div class="button-SR">
          <button type="submit" class="icon-submit-btn">
            <i class="pi pi-check"></i>
          </button>
        </div>
      </form>
    </div>
  </p-dialog>

  <!-- Create shipPoint Dialog -->
  <p-dialog header="Register a Ship Point" [(visible)]="displayCreateDialog" [modal]="true" [style]="{width: '50vw'}">
    <div class="form-container">
      <form [formGroup]="createShipPointForm" class="flex flex-col gap-y-2" (ngSubmit)="createShipPoint()">
        <mat-form-field class="example-full-width">
          <mat-label>ShipPoint</mat-label>
          <input matInput formControlName="shipPoint" name="shipPoint">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Full address</mat-label>
          <textarea matInput formControlName="fullAddress" name="fullAddress"></textarea>
        </mat-form-field>
        <p><mat-checkbox [ariaChecked]="true" color="primary" formControlName="isTe" name="isTe">is TE</mat-checkbox></p>
        <div class="button-SR">
          <button type="submit" class="icon-submit-btn">
            <i class="pi pi-check"></i>
          </button>
        </div>
      </form>
    </div>
  </p-dialog>