@defer {
<div class="p-4 rounded-md shadow-md max-w-[1200px]">
  <h2 class="mb-3">Edit Scenario</h2>

  <form [formGroup]="scenarioForm" (ngSubmit)="onSubmit()">
    <div class="w-full">
      <mat-form-field class="w-full">
        <mat-label>Scenario name</mat-label>
        <input matInput formControlName="name" name="name" required />
      </mat-form-field>
    </div>

    <div formArrayName="items" class="items-container">
      @for (item of items.controls; track item; let i = $index) {
        <div
          class="item-box"
          [formGroupName]="i"
          >
          <mat-form-field appearance="fill">
            <mat-label>Request item</mat-label>
            <mat-select
              formControlName="requestItemId"
              (selectionChange)="onItemFieldSelected(item, i)"
              >
              @for (requestItem of myItems(); track requestItem) {
                <mat-option
                  [value]="requestItem.id_request_item"
                  >
                  {{ requestItem.nameItem }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Mandatory For</mat-label>
            <mat-select
              formControlName="isMandatory"
              multiple
              (selectionChange)="onMandatoryForChange($event.value, i)"
              >
              @for (option of mandatoryForOptions(); track option) {
                <mat-option
                  [value]="option"
                  >
                  {{ option }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="border-l border-gray-300">
            <button
              mat-icon-button
              color="warn"
              matTooltipPosition="above"
              matTooltip="Remove this item"
              (click)="subtractItem(i)"
              type="button"
              >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>

    <mat-divider class="my-3" />

    <div class="mt-3 flex items-center justify-between gap-x-3">
      <div class="flex items-center gap-x-3">
        <button
          mat-raised-button
          type="button"
          class="btn btn-sec"
          (click)="createItem()"
          >
          Create New Item
        </button>
        <button
          mat-icon-button
          color="warn"
          matTooltipPosition="above"
          matTooltip="Add item"
          (click)="addItem()"
          type="button"
          >
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
      <div class="flex items-center gap-x-3">
        <button
          type="submit"
          mat-raised-button
          [disabled]="!scenarioForm.valid"
          >
          Save Changes
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="dialogRef.close()"
          >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
} @placeholder(minimum 500ms) {
<div class="flex items-center justify-center w-full h-full">
  <loading-dots [diameter]="25" />
</div>
}
