/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/saga-blue/theme.css';
/* @import '../node_modules/primeng/resources/primeng.min.css'; */
@import "primeng/resources/primeng.css";

@import "primeicons/primeicons.css";

/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */


@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
* {
  margin: 0;
}
/* body { margin: 0; font-family: 'Robotto', sans-serif; } */
body { margin: 0; font-family: "Noto Sans", serif; }

  ::ng-deep .mat-mdc-menu-content {
    font-size: 14px;
    line-height: 1.2;
}


:root {
  --thick-border: #385f91;
  --thin-border: #5480d4;
  --thick-width: 0.2rem;
  --thin-width: 0.1px;
  --header-height: 78px;
}